In [1]:
import pandas as pd
import numpy as np

In [137]:
covid=pd.read_csv("covid-19-all.csv")

In [10]:
fra=pd.read_csv("Stock major indicies\CAC 40 Historical Data_Paris.csv")
ge=pd.read_csv("Stock major indicies\DAX Historical Data_Germany.csv")
us=pd.read_csv("Stock major indicies\Dow Jones Industrial Average Historical Data_US.csv")
uk=pd.read_csv("Stock major indicies\FTSE 100 Historical Data_UK.csv")
ita=pd.read_csv("Stock major indicies\FTSE MIB Historical Data_Italy.csv")
spa=pd.read_csv("Stock major indicies\IBEX 35 Historical Data_Spain.csv")
can=pd.read_csv("Stock major indicies\S&P_TSX Composite Historical Data_Canada.csv")
china=pd.read_csv("Stock major indicies\Shanghai Composite Historical Data_China.csv")

In [138]:
covid=covid.drop(['Latitude','Longitude','Recovered','Deaths','Province/State'],axis=1).groupby(["Country/Region","Date"]).sum().unstack().T

In [166]:
covid.head(1)

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Aruba,Australia,...,Uruguay,Uzbekistan,Vatican City,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
,Date,,,,,,,,,,,,,,,,,,,,,
Confirmed,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
covid=covid.reset_index()

In [169]:
covid.head(1)

Country/Region,level_0,Date,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vatican City,Venezuela,Vietnam,West Bank and Gaza,Western Sahara,Yemen,Zambia,Zimbabwe
0,Confirmed,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
covid=covid.set_index(["Date"])

In [171]:
covid_us=covid['US']

In [173]:
covid_us=pd.DataFrame(covid_us)

In [176]:
covid_us['Daily increase']=covid_us['US']-covid_us.shift(1)['US']

In [178]:
covid_us.head(1)

             US  Daily increase
Date
2020-01-22  1.0             NaN

In [181]:
us.head(2)

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 13, 2020  23,390.77  23,698.93  23,698.93  23,095.35  396.56M   -1.39%
1  Apr 09, 2020  23,719.37  23,690.66  24,008.99  23,504.09  568.72M    1.22%

In [ ]:
us['Date']=pd.to_datetime(us['Date'])

In [208]:
us=us.set_index("Date")

In [211]:
data_us=covid_us.join(us,how='left')

In [ ]:
data_us['Change %_the next day']=data_us['Change %'].shift(-1)

In [221]:
data_us['Change %_the next 2 day']=data_us['Change %'].shift(-2)

In [222]:
data_us['Change %_the next 3 day']=data_us['Change %'].shift(-3)

In [224]:
data_us=data_us.drop(['US','Price','Open','High','Low','Vol.'],axis=1)

In [236]:
data_us

,Daily increase,Change %,Change %_the next day,Change %_the next 2 day,Change %_the next 3 day
Date,,,,,
2020-01-22,NaN,-0.03%,-0.09%,-0.58%,NaN
2020-01-23,0.0,-0.09%,-0.58%,NaN,NaN
2020-01-24,1.0,-0.58%,NaN,NaN,-1.57%
2020-01-25,0.0,NaN,NaN,-1.57%,0.66%
2020-01-26,3.0,NaN,-1.57%,0.66%,0.04%
...,...,...,...,...,...
2020-04-13,25306.0,-1.39%,NaN,NaN,NaN
2020-04-14,27051.0,NaN,NaN,NaN,NaN
2020-04-15,28680.0,NaN,NaN,NaN,NaN
2020-04-16,31451.0,NaN,NaN,NaN,NaN
2020-04-17,31905.0,NaN,NaN,NaN,NaN

In [229]:
data_us['Whether influential_1']=data_us['Change %_the next day'].apply(lambda x: 1 if x>(0.01) else 0)

TypeError: '>' not supported between instances of 'str' and 'float'

In [193]:
test=data_us.drop(['US','Date','Price','Open','High','Low','Vol.'],axis=1)

In [214]:
test

            Daily increase Change %
Date
2020-01-22             NaN      NaN
2020-01-23             0.0      NaN
2020-01-24             1.0      NaN
2020-01-25             0.0      NaN
2020-01-26             3.0      NaN
...                    ...      ...
2020-04-13         25306.0      NaN
2020-04-14         27051.0      NaN
2020-04-15         28680.0      NaN
2020-04-16         31451.0      NaN
2020-04-17         31905.0      NaN

[87 rows x 2 columns]