In [1]:
import pandas as pd

# stock data

## Loading data

In [2]:
stock_Brazil=pd.read_csv("Stock major indicies/Bovespa Historical Data_Brazil.csv")

In [4]:
stock_Brazil.head()

           Date      Price       Open       High        Low    Vol. Change %
0  Apr 13, 2020  78,835.82  77,681.94  78,835.82  76,405.36   7.65M    1.49%
1  Apr 09, 2020  77,681.94  78,639.74  80,427.60  77,456.86  10.75M   -1.20%
2  Apr 08, 2020  78,624.62  76,334.79  79,058.13  76,115.19  10.21M    2.97%
3  Apr 07, 2020  76,358.09  74,078.01  79,855.48  74,078.01  11.29M    3.08%
4  Apr 06, 2020  74,072.98  69,555.61  75,259.70  69,555.61   9.69M    6.52%

In [5]:
stock_India=pd.read_csv("Stock major indicies/BSE Sensex 30 Historical Data_India.csv")

In [6]:
stock_India.head()

           Date      Price       Open       High        Low    Vol. Change %
0  Apr 13, 2020  30,690.02  31,195.72  31,195.72  30,474.15  16.14M   -1.51%
1  Apr 09, 2020  31,159.62  30,571.19  31,225.20  30,420.22  18.77M    4.23%
2  Apr 08, 2020  29,893.96  29,701.92  31,227.97  29,602.94  24.70M   -0.58%
3  Apr 07, 2020  30,067.21  28,898.36  30,157.65  28,602.31  21.87M    8.97%
4  Apr 03, 2020  27,590.95  28,623.53  28,639.12  27,500.79  18.91M   -2.39%

In [9]:
stock_Franc=pd.read_csv("Stock major indicies/CAC 40 Historical Data_Paris.csv")

In [10]:
stock_Franc.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Apr 14, 2020  4,524.53  4,547.99  4,555.44  4,514.15        -    0.39%
1  Apr 09, 2020  4,506.85  4,512.30  4,543.69  4,409.04  126.59M    1.44%
2  Apr 08, 2020  4,442.75  4,397.36  4,442.75  4,333.09   96.26M    0.10%
3  Apr 07, 2020  4,438.27  4,489.40  4,527.60  4,379.27  146.54M    2.12%
4  Apr 06, 2020  4,346.14  4,298.50  4,353.21  4,268.52  141.47M    4.61%

In [11]:
stock_Germany=pd.read_csv("Stock major indicies/DAX Historical Data_Germany.csv")

In [12]:
stock_Germany.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 14, 2020  10,678.50  10,743.48  10,744.23  10,671.23        -    1.08%
1  Apr 09, 2020  10,564.74  10,490.65  10,649.79  10,311.70  134.48M    2.24%
2  Apr 08, 2020  10,332.89  10,301.56  10,340.79  10,198.22  102.43M   -0.23%
3  Apr 07, 2020  10,356.70  10,464.11  10,590.41  10,225.02  149.51M    2.79%
4  Apr 06, 2020  10,075.17   9,889.03  10,097.31   9,841.49  126.69M    5.77%

In [13]:
stock_US=pd.read_csv("Stock major indicies/Dow Jones Industrial Average Historical Data_US.csv")
# There is two us indexes which should we choose? (S&P 500 Historical Data_US.csv)

In [14]:
stock_US.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 13, 2020  23,390.77  23,698.93  23,698.93  23,095.35  396.56M   -1.39%
1  Apr 09, 2020  23,719.37  23,690.66  24,008.99  23,504.09  568.72M    1.22%
2  Apr 08, 2020  23,433.57  22,893.47  23,513.40  22,682.99  476.09M    3.44%
3  Apr 07, 2020  22,653.86  23,537.44  23,617.24  22,634.45  595.87M   -0.12%
4  Apr 06, 2020  22,679.99  21,693.63  22,783.45  21,693.63  614.20M    7.73%

In [15]:
stock_UK=pd.read_csv("Stock major indicies/FTSE 100 Historical Data_UK.csv")

In [16]:
stock_UK.head()

           Date     Price      Open      High       Low   Vol. Change %
0  Apr 14, 2020  5,818.97  5,893.10  5,893.10  5,809.10      -   -0.41%
1  Apr 09, 2020  5,842.66  5,677.73  5,842.66  5,677.68  1.28B    2.90%
2  Apr 08, 2020  5,677.73  5,704.45  5,704.45  5,589.73  1.10B   -0.46%
3  Apr 07, 2020  5,704.25  5,716.90  5,781.60  5,643.10      -    2.18%
4  Apr 06, 2020  5,582.39  5,415.50  5,590.58  5,415.50  1.21B    3.08%

In [17]:
stock_Italy=pd.read_csv("Stock major indicies/FTSE MIB Historical Data_Italy.csv")

In [18]:
stock_Italy.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 14, 2020  17,741.00  17,847.50  17,852.50  17,697.50        -    0.68%
1  Apr 09, 2020  17,621.62  17,685.56  17,756.01  17,360.48  553.98M    1.39%
2  Apr 08, 2020  17,380.82  17,212.38  17,405.79  17,196.03  476.31M   -0.18%
3  Apr 07, 2020  17,411.72  17,587.81  17,887.12  17,177.73  679.85M    2.19%
4  Apr 06, 2020  17,039.31  16,769.13  17,053.91  16,764.81  528.13M    4.00%

In [19]:
stock_Spain=pd.read_csv("Stock major indicies/IBEX 35 Historical Data_Spain.csv")

In [20]:
stock_Spain.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Apr 14, 2020  7,137.50  7,208.00  7,217.00  7,103.50        -    0.95%
1  Apr 09, 2020  7,070.60  7,049.30  7,116.80  6,918.70  240.35M    1.71%
2  Apr 08, 2020  6,951.80  6,930.20  6,952.50  6,860.60  155.91M   -0.72%
3  Apr 07, 2020  7,002.00  6,986.90  7,119.10  6,903.60  260.86M    2.30%
4  Apr 06, 2020  6,844.30  6,807.90  6,874.90  6,728.60  225.97M    3.99%

In [21]:
stock_Korea=pd.read_csv("Stock major indicies/KOSPI Historical Data_South Korea.csv")

In [22]:
stock_Korea.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Apr 14, 2020  1,857.08  1,846.41  1,864.46  1,837.17  872.12K    1.72%
1  Apr 13, 2020  1,825.76  1,853.30  1,853.30  1,825.76    1.01M   -1.88%
2  Apr 10, 2020  1,860.70  1,835.76  1,861.10  1,824.43  992.55M    1.33%
3  Apr 09, 2020  1,836.21  1,838.09  1,839.33  1,818.30  920.57M    1.61%
4  Apr 08, 2020  1,807.14  1,815.75  1,842.16  1,801.80  907.49M   -0.90%

In [23]:
stock_Japan=pd.read_csv("Stock major indicies/Nikkei 225 Historical Data_Japan.csv")

In [24]:
stock_Japan.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 14, 2020  19,630.00  19,135.00  19,717.50  19,075.50        -    3.08%
1  Apr 13, 2020  19,043.40  19,312.04  19,355.04  19,014.32  656.32M   -2.33%
2  Apr 10, 2020  19,498.50  19,500.07  19,500.07  19,235.96  874.94M    0.79%
3  Apr 09, 2020  19,345.77  19,376.00  19,406.96  19,158.55  822.67M   -0.04%
4  Apr 08, 2020  19,353.24  19,047.76  19,454.34  18,730.80    1.06B    2.13%

In [25]:
stock_Denmark=pd.read_csv("Stock major indicies/OMX Copenhagen 20 Historical Data_Denmark.csv")

In [26]:
stock_Denmark.head()

           Date     Price      Open      High       Low    Vol. Change %
0  Apr 14, 2020  1,094.17  1,098.88  1,103.16  1,091.72   5.36M    0.50%
1  Apr 08, 2020  1,088.72  1,090.20  1,093.56  1,076.64  16.13M   -0.68%
2  Apr 07, 2020  1,096.14  1,108.55  1,115.23  1,091.08  24.96M    0.45%
3  Apr 06, 2020  1,091.19  1,105.63  1,107.17  1,084.49  17.23M    0.80%
4  Apr 03, 2020  1,082.55  1,064.52  1,082.55  1,055.57  18.23M    1.66%

In [27]:
stock_Australia=pd.read_csv("Stock major indicies/S&P_ASX 200 Historical Data_Austrila.csv")

In [28]:
stock_Australia.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Apr 14, 2020  5,488.10  5,387.30  5,490.70  5,360.00    1.15B    1.87%
1  Apr 09, 2020  5,387.30  5,206.90  5,387.30  5,206.90  914.16M    3.46%
2  Apr 08, 2020  5,206.90  5,252.30  5,321.00  5,121.90    1.15B   -0.86%
3  Apr 07, 2020  5,252.30  5,286.80  5,423.10  5,187.00    1.11B   -0.65%
4  Apr 06, 2020  5,286.80  5,067.50  5,302.20  5,067.50  890.07M    4.33%

In [30]:
stock_Canada=pd.read_csv("Stock major indicies/S&P_TSX Composite Historical Data_Canada.csv")

In [31]:
stock_Canada.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Apr 13, 2020  14,075.94  14,195.12  14,197.58  13,889.25  326.41M   -0.64%
1  Apr 09, 2020  14,166.63  14,081.97  14,329.19  14,010.67  437.30M    1.73%
2  Apr 08, 2020  13,925.71  13,725.95  13,964.92  13,588.40  374.16M    2.29%
3  Apr 07, 2020  13,614.14  13,937.92  14,062.71  13,571.48  400.92M    0.16%
4  Apr 06, 2020  13,592.70  13,362.37  13,603.00  13,300.13  386.78M    5.06%

In [32]:
stock_China=pd.read_csv("Stock major indicies/Shanghai Composite Historical Data_China.csv")

In [33]:
stock_China.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Apr 14, 2020  2,827.28  2,794.80  2,827.30  2,789.44  202.70K    1.59%
1  Apr 13, 2020  2,783.05  2,784.60  2,792.89  2,774.08   17.71B   -0.49%
2  Apr 10, 2020  2,796.63  2,827.19  2,833.01  2,789.98   23.35B   -1.04%
3  Apr 09, 2020  2,825.90  2,825.84  2,832.40  2,820.43   23.82B    0.37%
4  Apr 08, 2020  2,815.37  2,805.92  2,823.21  2,800.30   24.35B   -0.19%

In [34]:
stock_SouthAfrica=pd.read_csv("Stock major indicies/South Africa 40 Historical Data_South Africa.csv")

In [35]:
stock_SouthAfrica.head()

           Date    Price     Open     High      Low Vol. Change %
0  Dec 31, 2019  5,717.7  5,775.4  5,781.9  5,710.8    -   -1.05%
1  Dec 30, 2019  5,778.2  5,765.4  5,788.9  5,740.6    -    0.38%
2  Dec 27, 2019  5,756.4  5,773.9  5,799.3  5,726.8    -    0.51%
3  Dec 24, 2019  5,727.0  5,723.8  5,740.0  5,704.1    -    0.20%
4  Dec 23, 2019  5,715.6  5,770.7  5,770.8  5,695.9    -   -0.80%