In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# stock data

## Loading data

In [2]:
stock_Brazil=pd.read_csv("Stock major indicies/Bovespa Historical Data_Brazil.csv")

In [3]:
stock_Brazil['Country']='Brazil'

In [4]:
stock_Brazil.head()

,Date,Price,Open,High,Low,Vol.,Change %,Country
0,"Apr 13, 2020","78,835.82","77,681.94","78,835.82","76,405.36",7.65M,1.49%,Brazil
1,"Apr 09, 2020","77,681.94","78,639.74","80,427.60","77,456.86",10.75M,-1.20%,Brazil
2,"Apr 08, 2020","78,624.62","76,334.79","79,058.13","76,115.19",10.21M,2.97%,Brazil
3,"Apr 07, 2020","76,358.09","74,078.01","79,855.48","74,078.01",11.29M,3.08%,Brazil
4,"Apr 06, 2020","74,072.98","69,555.61","75,259.70","69,555.61",9.69M,6.52%,Brazil

In [5]:
stock_India=pd.read_csv("Stock major indicies/BSE Sensex 30 Historical Data_India.csv")

In [6]:
stock_India['Country']='India'

In [7]:
stock_France=pd.read_csv("Stock major indicies/CAC 40 Historical Data_Paris.csv")

In [8]:
stock_France['Country']='France'

In [9]:
stock_Germany=pd.read_csv("Stock major indicies/DAX Historical Data_Germany.csv")

In [10]:
stock_Germany['Country']='Germany'

In [11]:
stock_US=pd.read_csv("Stock major indicies/Dow Jones Industrial Average Historical Data_US.csv")
# There is two us indexes which should we choose? (S&P 500 Historical Data_US.csv)

FileNotFoundError: [Errno 2] File b'Stock major indicies/Dow Jones Industrial Average Historical Data_US.csv' does not exist: b'Stock major indicies/Dow Jones Industrial Average Historical Data_US.csv'

In [ ]:
stock_US['Country']='US'

In [ ]:
stock_UK=pd.read_csv("Stock major indicies/FTSE 100 Historical Data_UK.csv")

In [ ]:
stock_UK['Country']='UK'

In [ ]:
stock_Italy=pd.read_csv("Stock major indicies/FTSE MIB Historical Data_Italy.csv")

In [ ]:
stock_Italy['Country']='Italy'

In [ ]:
stock_Spain=pd.read_csv("Stock major indicies/IBEX 35 Historical Data_Spain.csv")

In [ ]:
stock_Spain['Country']='Spain'

In [ ]:
stock_Korea=pd.read_csv("Stock major indicies/KOSPI Historical Data_South Korea.csv")

In [ ]:
stock_Korea['Country']='Korea'

In [ ]:
stock_Japan=pd.read_csv("Stock major indicies/Nikkei 225 Historical Data_Japan.csv")

In [ ]:
stock_Japan['Country']='Japan'

In [ ]:
stock_Denmark=pd.read_csv("Stock major indicies/OMX Copenhagen 20 Historical Data_Denmark.csv")

In [ ]:
stock_Denmark['Country']='Denmark'

In [ ]:
stock_Australia=pd.read_csv("Stock major indicies/S&P_ASX 200 Historical Data_Austrila.csv")

In [ ]:
stock_Australia['Country']='Australia'

In [ ]:
stock_Canada=pd.read_csv("Stock major indicies/S&P_TSX Composite Historical Data_Canada.csv")

In [ ]:
stock_Canada['Country']='Canada'

In [ ]:
stock_China=pd.read_csv("Stock major indicies/Shanghai Composite Historical Data_China.csv")

In [ ]:
stock_China['Country']='China'

In [ ]:
stock_SouthAfrica=pd.read_csv("Stock major indicies/South Africa 40 Historical Data_South Africa.csv")

In [ ]:
stock_SouthAfrica['Country']='South Africa'

In [ ]:
stock_data=pd.concat([stock_Brazil,stock_India,stock_France,stock_Germany,stock_US,stock_UK,stock_Italy,stock_Spain,stock_Korea,stock_Japan,stock_Denmark,stock_Australia,stock_Canada,stock_China,stock_SouthAfrica])

### Covid 19 data

In [12]:
FocusCountries = set(['Brazil','India','US','Italy','Germany','United Kingdom','South Korea','China','Denmark','South Africa','Canada','Australia','Spain','Japan'])

In [22]:
covid_df = pd.read_csv("Covid-19 data/covid-19-all.csv")
covid_df['Date'] = pd.to_datetime(covid_df['Date'])
covid_df['Week'] = covid_df['Date'].dt.to_period('W')
covid_df[['Confirmed','Recovered','Deaths']] = covid_df[['Confirmed','Recovered','Deaths']].fillna(0).astype(int)
recent_date = covid_df['Date'].max()
latest_entry = covid_df[covid_df['Date'] >= recent_date]

In [14]:
covid_df.head()

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Week
0,China,Anhui,31.8257,117.2264,1,0,0,2020-01-22,2020-01-20/2020-01-26
1,China,Beijing,40.1824,116.4142,14,0,0,2020-01-22,2020-01-20/2020-01-26
2,China,Chongqing,30.0572,107.8740,6,0,0,2020-01-22,2020-01-20/2020-01-26
3,China,Fujian,26.0789,117.9874,1,0,0,2020-01-22,2020-01-20/2020-01-26
4,China,Gansu,37.8099,101.0583,0,0,0,2020-01-22,2020-01-20/2020-01-26

In [15]:
covid_df.tail()

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Week
89458,West Bank and Gaza,NaN,31.952200,35.233200,402,69,2,2020-04-17,2020-04-13/2020-04-19
89459,Western Sahara,NaN,24.215500,-12.885800,6,0,0,2020-04-17,2020-04-13/2020-04-19
89460,Yemen,NaN,15.552727,48.516388,1,0,0,2020-04-17,2020-04-13/2020-04-19
89461,Zambia,NaN,-13.133897,27.849332,52,30,2,2020-04-17,2020-04-13/2020-04-19
89462,Zimbabwe,NaN,-19.015438,29.154857,24,2,3,2020-04-17,2020-04-13/2020-04-19

In [16]:
covid_China_df=covid_df[covid_df['Country/Region']=='China']

In [17]:
covid_China_df.tail()

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Week
89272,China,Tianjin,39.3054,117.3230,189,173,3,2020-04-17,2020-04-13/2020-04-19
89273,China,Tibet,31.6927,88.0924,1,1,0,2020-04-17,2020-04-13/2020-04-19
89278,China,Xinjiang,41.1129,85.2401,76,73,3,2020-04-17,2020-04-13/2020-04-19
89280,China,Yunnan,24.9740,101.4870,184,177,2,2020-04-17,2020-04-13/2020-04-19
89281,China,Zhejiang,29.1832,120.0934,1268,1246,1,2020-04-17,2020-04-13/2020-04-19

In [18]:
covid_Brazil_df=covid_df[covid_df['Country/Region']=='Brazil']

In [19]:
covid_Brazil_df.tail()

,Country/Region,Province/State,Latitude,Longitude,Confirmed,Recovered,Deaths,Date,Week
77179,Brazil,NaN,-14.235,-51.9253,23430,173,1328,2020-04-13,2020-04-13/2020-04-19
80192,Brazil,NaN,-14.235,-51.9253,25262,3046,1532,2020-04-14,2020-04-13/2020-04-19
83218,Brazil,NaN,-14.235,-51.9253,28320,14026,1736,2020-04-15,2020-04-13/2020-04-19
86259,Brazil,NaN,-14.235,-51.9253,30425,14026,1924,2020-04-16,2020-04-13/2020-04-19
89304,Brazil,NaN,-14.235,-51.9253,33682,14026,2141,2020-04-17,2020-04-13/2020-04-19

In [23]:
latest_entry = covid_df[covid_df['Date'] >= recent_date]
df_stats = covid_df.groupby(['Week','Country'])[['Confirmed','Recovered','Deaths']].sum().reset_index()
df_stats['Week'] = df_stats['Week'].astype(str)

fig = px.line(df_stats, x="Week", y="Confirmed", color='Country',title='Corona Virus Confirmed Count by Week')
fig.show()

fig = px.line(df_stats, x="Week", y="Recovered", color='Country',title='Corona Virus Recovered Count by Week')
fig.show()

fig = px.line(df_stats, x="Week", y="Deaths", color='Country',title='Corona Virus Death Count by Week')
fig.show()

KeyError: 'Country'