In [1]:
import pandas as pd

## Load data

In [132]:
company_Yiling=pd.read_csv("002603 Historical Data_Yiling pharmacy.csv")
company_Yiling['Company']='Yiling'
company_Yiling['Change %']=company_Yiling['Change %'].str.replace('%','').apply(lambda l:float(l))
company_Yiling['Date']=pd.to_datetime(company_Yiling['Date'])
company_Yiling=company_Yiling.sort_values(by=['Date'],ascending=True)
company_Yiling=company_Yiling.loc[(company_Yiling['Date'] > '01-01-2020')]
company_Yiling['Change_acc']=company_Yiling['Change %'].cumsum()

In [134]:
company_Yiling=pd.read_csv("002603 Historical Data_Yiling pharmacy.csv")
company_Yiling['Company']='Yiling'
company_Yiling['Change %']=company_Yiling['Change %'].str.replace('%','').apply(lambda l:float(l))
company_Yiling['Date']=pd.to_datetime(company_Yiling['Date'])
company_Yiling=company_Yiling.sort_values(by=['Date'],ascending=True)
company_Yiling=company_Yiling.loc[(company_Yiling['Date'] > '01-01-2020')]
company_Yiling['Change_acc']=company_Yiling['Change %'].cumsum()


company_AMZH=pd.read_csv("AMZN Historical Data_Amazon.csv")
company_AMZH['Company']='Amazon_Online'
company_AMZH['Change %']=company_AMZH['Change %'].str.replace('%','').apply(lambda l:float(l))
company_AMZH['Date']=pd.to_datetime(company_AMZH['Date'])
company_AMZH=company_AMZH.sort_values(by=['Date'],ascending=True)
company_AMZH=company_AMZH.loc[(company_AMZH['Date'] > '01-01-2020')]
company_AMZH['Change_acc']=company_AMZH['Change %'].cumsum()


company_DIS=pd.read_csv("DIS Historical Data_Disney.csv")
company_DIS['Company']='Dis_Enter'
company_DIS['Change %']=company_DIS['Change %'].str.replace('%','').apply(lambda l:float(l))
company_DIS['Date']=pd.to_datetime(company_DIS['Date'])
company_DIS=company_DIS.sort_values(by=['Date'],ascending=True)
company_DIS=company_DIS.loc[(company_DIS['Date'] > '01-01-2020')]
company_DIS['Change_acc']=company_DIS['Change %'].cumsum()


company_MCD=pd.read_csv("MCD Historical Data_McDonaldâ€™s.csv")
company_MCD['Company']='Mcd_Food'
company_MCD['Change %']=company_MCD['Change %'].str.replace('%','').apply(lambda l:float(l))
company_MCD['Date']=pd.to_datetime(company_MCD['Date'])
company_MCD=company_MCD.sort_values(by=['Date'],ascending=True)
company_MCD=company_MCD[(company_MCD['Date'] > '01-01-2020')]
company_MCD['Change_acc']=company_MCD['Change %'].cumsum()


company_MMM=pd.read_csv("MMM Historical Data_3M.csv")
company_MMM['Company']='MMM_Medical'
company_MMM['Change %']=company_MMM['Change %'].str.replace('%','').apply(lambda l:float(l))
company_MMM['Date']=pd.to_datetime(company_MMM['Date'])
company_MMM=company_MMM.sort_values(by=['Date'],ascending=True)
company_MMM=company_MMM.loc[(company_MMM['Date'] > '01-01-2020')]
company_MMM['Change_acc']=company_MMM['Change %'].cumsum()


company_RYA=pd.read_csv("RYA Historical Data_Ryanair.csv")
company_RYA['Company']='Rya_Trans'
company_RYA['Change %']=company_RYA['Change %'].str.replace('%','').apply(lambda l:float(l))
company_RYA['Date']=pd.to_datetime(company_RYA['Date'])
company_RYA=company_RYA.sort_values(by=['Date'],ascending=True)
company_RYA=company_RYA.loc[(company_RYA['Date'] > '01-01-2020')]
company_RYA['Change_acc']=company_RYA['Change %'].cumsum()


company_SAS=pd.read_csv("SAS Historical Data_SAS.csv")
company_SAS['Company']='SAS_Trans'
company_SAS['Change %']=company_SAS['Change %'].str.replace('%','').apply(lambda l:float(l))
company_SAS['Date']=pd.to_datetime(company_SAS['Date'])
company_SAS=company_SAS.sort_values(by=['Date'],ascending=True)
company_SAS=company_SAS.loc[(company_SAS['Date'] > '01-01-2020')]
company_SAS['Change_acc']=company_SAS['Change %'].cumsum()


company_TIV=pd.read_csv("TIV Historical Data_Tivoli.csv")
company_TIV['Company']='Tiv_Enter'
company_TIV['Change %']=company_TIV['Change %'].str.replace('%','').apply(lambda l:float(l))
company_TIV['Date']=pd.to_datetime(company_TIV['Date'])
company_TIV=company_TIV.sort_values(by=['Date'],ascending=True)
company_TIV=company_TIV.loc[(company_TIV['Date'] > '01-01-2020')]
company_TIV['Change_acc']=company_TIV['Change %'].cumsum()


company_TKWY=pd.read_csv("TKWY Historical Data_Just eat take away.csv")
company_TKWY['Company']='Takeaway_Food'
company_TKWY['Change %']=company_TKWY['Change %'].str.replace('%','').apply(lambda l:float(l))
company_TKWY['Date']=pd.to_datetime(company_TKWY['Date'])
company_TKWY=company_TKWY.sort_values(by=['Date'],ascending=True)
company_TKWY=company_TKWY.loc[(company_TKWY['Date'] > '01-01-2020')]
company_TKWY['Change_acc']=company_TKWY['Change %'].cumsum()


company_NFLX=pd.read_csv("NFLX Historical Data_Netflix.csv")
company_NFLX['Company']='Net_Enter'
company_NFLX['Change %']=company_NFLX['Change %'].str.replace('%','').apply(lambda l:float(l))
company_NFLX['Date']=pd.to_datetime(company_NFLX['Date'])
company_NFLX=company_NFLX.sort_values(by=['Date'],ascending=True)
company_NFLX=company_NFLX.loc[(company_NFLX['Date'] > '01-01-2020')]
company_NFLX['Change_acc']=company_NFLX['Change %'].cumsum()

In [135]:
company_data=pd.concat([company_Yiling,company_AMZH,company_DIS,company_MCD,company_MMM,company_RYA,company_SAS,company_TIV,company_TKWY,company_NFLX])

# Data preparation

We are gonna focus on data from 2020-01-01 to 2020-04-14.

In [114]:
#company_data['Date']=pd.to_datetime(company_data['Date'])
#company_data=company_data.loc[(company_data['Date'] > '01-01-2020')]

The remaining columns are changed to float

In [27]:
# company_data['Price']=company_data.Price.str.replace(",", "").apply(lambda l: float(l))
# company_data['Open']=company_data.Open.str.replace(",", "").apply(lambda l: float(l))
# company_data['High']=company_data.High.str.replace(",", "").apply(lambda l: float(l))
# company_data['Low']=company_data.Low.str.replace(",", "").apply(lambda l: float(l))
# company_data['Change %']=company_data['Change %'].str.replace('%','').apply(lambda l:float(l))
# company_data=company_data.rename(columns={"Change %": "Change"})

The Vol. column is dropped as it does not represent a value of intrest for this project.

In [137]:
company_data=company_data.drop(['Change %','Vol.','Price','Open','High','Low'],axis=1)

In [138]:
company_data

         Date    Company  Change_acc
66 2020-01-02     Yiling       -2.57
65 2020-01-03     Yiling       -3.64
64 2020-01-06     Yiling       -3.31
63 2020-01-07     Yiling       -3.64
62 2020-01-08     Yiling       -3.56
..        ...        ...         ...
4  2020-04-06  Net_Enter       20.36
3  2020-04-07  Net_Enter       18.34
2  2020-04-08  Net_Enter       18.03
1  2020-04-09  Net_Enter       17.92
0  2020-04-13  Net_Enter       24.93

[703 rows x 3 columns]

In [ ]:
Companies= ['Yiling', 'Amazon_Online', 'Dis_Enter', 'Mcd_Food', 'MMM_Medical', 'Rya_Trans', 'SAS_Trans', 'Tiv_Enter', 'Takeaway_Food','Net_Enter']

In [76]:
colors=viridis(len(company_data.Company.unique()))

In [67]:
import pandas as pd
import plotly.express as px
import plotly.offline as py
import matplotlib.pyplot as plt
import seaborn as sns
from bokeh.plotting import figure, output_notebook, output_file, reset_output, show
from bokeh.models import ColumnDataSource, Legend, HoverTool
from bokeh.palettes import viridis

In [144]:
fig = figure(title='Accumulated changes of stock prices',title_location='above',
            plot_width=1000,plot_height=500,
            y_axis_label="% Accumulated changes",
            x_axis_label="Date", x_axis_type="datetime",
            tools="reset,save")

line={}
items=[]
for i in range(len(Companies)):
    source = ColumnDataSource(
       data={'Date':company_data.loc[company_data.Company== Companies[i]].Date,
           'Company':company_data.loc[company_data.Company == Companies[i]].Company,
           'Change_acc':company_data.loc[company_data.Company == Companies[i]].Change_acc})
    line[Companies[i]]=fig.line(x='Date',y='Change_acc', source=source, color = (colors[i]))     
    items.append((Companies[i], [line[Companies[i]]]))
        
legend = Legend(items=items, location=(0, 0))
hover = HoverTool(tooltips =[('Company','@Company'),('Date','@Date{%F}'),('Change_acc','@Change_acc')],formatters={'@Date': 'datetime'})
fig.add_tools(hover)
fig.add_layout(legend, 'right')
fig.legend.click_policy="hide"
show(fig)